// https://cloud.google.com/compute/docs/regions-zones
project_id = "<PROJECT_ID>"

service_account_filepath = "config/keyfile.json"

project_region = "southamerica-east1"

instance_zone = "southamerica-east1-a"

instance_name = "<INSTANCE_NAME>"

username = "<USER>"

instance_type = "n1-standard-1"

instance_image = "ubuntu-os-cloud/ubuntu-1804-lts"

ssh_public_key_filepath = "config/.ssh/<SSH_PUBLIC_KEY>"

ssh_private_key_filepath = "config/.ssh/<SSH_PRIVATE_KEY>"

# COMMANDS:

# terraform get
# terraform init
# terraform validate -var-file="config/env.tfvars"
# terraform plan -var-file="config/env.tfvars"
# terraform apply -var-file="config/env.tfvars"
# terraform destroy -var-file="config/env.tfvars"
# ssh -i config/.ssh/<SSH_PRIVATE_KEY> <USER>@<IP>
